@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br />
<br />

<img src="~/assets/img/68b6358e089ec7c09e8f.jpg" style="width:400px; height:250px; margin-left:480px" />
<address style="text-align:center; font-size:50px">
    FPTBOOK<br />
    Can Tho, Viet Nam <br />
    Phone:0857.882.137<br />
</address>

<address style="text-align:center;font-size:30px">
    <strong>Support:</strong>   
    <a href="https://www.facebook.com/FPTbooks/">Facebook.com</a><br />
</address>