@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br />
<address>
    FPTBOOK<br />
    Can Tho, Viet Nam <br />
    Phone:0857.882.137<br />
</address>

<address>
    <strong>Support:</strong>   <a href="https://www.facebook.com/FPTbooks/">Facebook.com</a><br />
</address>