@model IEnumerable<FPTBook.Models.Book>
@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<body>
    <header class="masthead" style="padding: -30px;margin: -115px;">
        <img src="~/assets/img/backgrHeader.jpg" width="1550" height="800" />
    </header>
    <br />
    <br />
    <br />
    <br />
    <section class="bg-light" id="portfolio" style="padding: 29px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="display-4 text-uppercase text-center" style="padding-top: 10px; padding-bottom: 10px; color: orangered; background-color: var(--bs-gray-800)">COMICS & GRAPHIC NOVELS</h1><!-- End: ml cinel cursos heading -->
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                        <div class="col-sm-6 col-md-4 portfolio-item">
                            <a class="portfolio-link" href="#portfolioModal1" data-bs-toggle="modal">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                                </div><img class="img-fluid" style="width:400px; height:450px" src="~/assets/img/@item.Img">
                            </a>
                            <div class="portfolio-caption">
                                <h4>@item.BookName</h4>
                                <h5 class="text-muted">$ @item.Price</h5>
                                <a class="btn btn-outline-primary " href="@Url.Action("Details","Books", new {id = item.Book_ID})" data-abc="true">View Products</a>
                            </div>
                        </div>
                }
            </div>
        </div>
    <!-- Start: ml cinel cursos heading -->
        <h1 class="display-4 text-uppercase text-center" style="padding-top: 10px; padding-bottom: 10px; color: orangered; background-color: var(--bs-gray-800)">Famous Author </h1><!-- End: ml cinel cursos heading -->
    </section>
    <section class="bg-light" id="team" style="padding: 28px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="team-member">
                        <img class="rounded-circle mx-auto" src="~/assets/img/Author/stephen-king.jpg">
                        <h4>Stephen King</h4>
                        <p class="text-muted">Author of Horror and Fantasy</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item"><a href="https://en.wikipedia.org/wiki/Stephen_King"><i class="fa fa-google"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <div class="team-member">
                        <img class="rounded-circle mx-auto" src="~/assets/img/Author/J._K._Rowling_2010.jpg">
                        <h4>J. K. Rowling</h4>
                        <p class="text-muted">Author of the Harry Potter series</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item"><a href="https://en.wikipedia.org/wiki/J._K._Rowling"><i class="fa fa-google"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <div class="team-member">
                        <img class="rounded-circle mx-auto" src="~/assets/img/Author/330px-R._L._Stine_by_Gage_Skidmore.jpg">
                        <h4>R. L. Stine</h4>
                        <p class="text-muted">American novelist</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item"><a href="https://en.wikipedia.org/wiki/R._L._Stine"><i class="fa fa-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/agency.js"></script>
</body>

</html>